-- CreateEnum
CREATE TYPE "DeploymentStatus" AS ENUM ('PLANNED', 'VALIDATING', 'EXECUTING', 'VERIFYING', 'ACTIVATING', 'COMPLETED', 'FAILED', 'ROLLED_BACK', 'CANCELLED');

-- CreateEnum
CREATE TYPE "DeploymentStrategy" AS ENUM ('ROLLING', 'BLUE_GREEN', 'DIRECT');

-- CreateEnum
CREATE TYPE "DeploymentEnvironment" AS ENUM ('LOCAL', 'STAGING', 'PRODUCTION');

-- CreateEnum
CREATE TYPE "DeploymentStageType" AS ENUM ('RUNTIME', 'LEADERBOARD', 'ANALYTICS', 'RESULTS', 'REWARDS', 'CERTIFICATES', 'LIFECYCLE', 'NOTIFICATIONS', 'CACHE', 'SEARCH_INDEX', 'AUDIT', 'OBSERVABILITY');

-- CreateEnum
CREATE TYPE "StageStatus" AS ENUM ('PENDING', 'IN_PROGRESS', 'COMPLETED', 'FAILED', 'SKIPPED');

-- CreateEnum
CREATE TYPE "DeploymentAuditAction" AS ENUM ('PLANNED', 'STARTED', 'STAGE_STARTED', 'STAGE_COMPLETED', 'STAGE_FAILED', 'VERIFIED', 'ACTIVATED', 'COMPLETED', 'ROLLED_BACK', 'CANCELLED', 'RECOVERED');

-- CreateEnum
CREATE TYPE "DeploymentHealthStatus" AS ENUM ('HEALTHY', 'WARNING', 'CRITICAL', 'FAILED');

-- CreateEnum
CREATE TYPE "DeploymentReason" AS ENUM ('MANUAL', 'SCHEDULED', 'ROLLBACK', 'RECOVERY');

-- CreateEnum
CREATE TYPE "DeploymentResult" AS ENUM ('SUCCESS', 'PARTIAL_SUCCESS', 'FAILED');

-- CreateEnum
CREATE TYPE "PlatformComponentHealth" AS ENUM ('EXCELLENT', 'HEALTHY', 'WARNING', 'CRITICAL', 'OFFLINE');

-- CreateEnum
CREATE TYPE "WorkerStatus" AS ENUM ('IDLE', 'PROCESSING', 'PAUSED', 'FAILED', 'DEAD');

-- CreateEnum
CREATE TYPE "QueueStatus" AS ENUM ('HEALTHY', 'BACKLOGGED', 'STALLED', 'FAILED');

-- CreateEnum
CREATE TYPE "IncidentStatus" AS ENUM ('OPEN', 'INVESTIGATING', 'RECOVERED', 'RESOLVED', 'CLOSED');

-- CreateEnum
CREATE TYPE "AlertSeverity" AS ENUM ('INFO', 'WARNING', 'CRITICAL', 'FATAL');

-- DropForeignKey
ALTER TABLE "builder_locks" DROP CONSTRAINT "builder_locks_competitionId_fkey";

-- DropForeignKey
ALTER TABLE "builder_locks" DROP CONSTRAINT "builder_locks_userId_fkey";

-- DropForeignKey
ALTER TABLE "builder_revisions" DROP CONSTRAINT "builder_revisions_actorId_fkey";

-- DropForeignKey
ALTER TABLE "builder_revisions" DROP CONSTRAINT "builder_revisions_competitionId_fkey";

-- AlterTable
ALTER TABLE "competition_versions" DROP COLUMN "versionNumber",
ADD COLUMN     "artifactHash" TEXT NOT NULL,
ADD COLUMN     "artifactSizeBytes" INTEGER,
ADD COLUMN     "buildCompletedAt" TIMESTAMP(3),
ADD COLUMN     "buildNumber" INTEGER,
ADD COLUMN     "buildStartedAt" TIMESTAMP(3),
ADD COLUMN     "manifestVersion" TEXT,
ADD COLUMN     "semanticVersion" TEXT NOT NULL,
DROP COLUMN "version",
ADD COLUMN     "version" INTEGER NOT NULL;

-- DropTable
DROP TABLE "build_reports";

-- DropTable
DROP TABLE "builder_locks";

-- DropTable
DROP TABLE "builder_revisions";

-- CreateTable
CREATE TABLE "version_manifests" (
    "id" TEXT NOT NULL,
    "competitionVersionId" TEXT NOT NULL,
    "artifactId" TEXT NOT NULL,
    "schemaVersion" INTEGER NOT NULL,
    "manifestHash" TEXT NOT NULL,
    "snapshotHash" TEXT NOT NULL,
    "artifactHash" TEXT NOT NULL,
    "fingerprint" TEXT NOT NULL,
    "builderVersion" TEXT,
    "studioVersion" TEXT,
    "healthScore" DOUBLE PRECISION,
    "entityCount" INTEGER NOT NULL DEFAULT 0,
    "questionCount" INTEGER NOT NULL DEFAULT 0,
    "sectionCount" INTEGER NOT NULL DEFAULT 0,
    "rewardCount" INTEGER NOT NULL DEFAULT 0,
    "certificateCount" INTEGER NOT NULL DEFAULT 0,
    "runtimeVersion" TEXT,
    "submissionVersion" TEXT,
    "leaderboardVersion" TEXT,
    "analyticsVersion" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "version_manifests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "version_build_audits" (
    "id" TEXT NOT NULL,
    "competitionVersionId" TEXT NOT NULL,
    "durationMs" INTEGER NOT NULL,
    "serializationDurationMs" INTEGER,
    "validationDurationMs" INTEGER,
    "hashingDurationMs" INTEGER,
    "registryDurationMs" INTEGER,
    "builderId" TEXT,
    "executionLogs" JSONB,
    "buildResult" TEXT NOT NULL,
    "warnings" JSONB,
    "reason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "version_build_audits_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "publish_deployments" (
    "id" TEXT NOT NULL,
    "competitionVersionId" TEXT NOT NULL,
    "deploymentNumber" INTEGER NOT NULL,
    "status" "DeploymentStatus" NOT NULL,
    "strategy" "DeploymentStrategy" NOT NULL,
    "environment" "DeploymentEnvironment" NOT NULL,
    "reason" "DeploymentReason" NOT NULL,
    "deploymentResult" "DeploymentResult",
    "manifestId" TEXT,
    "pipelineVersion" TEXT NOT NULL DEFAULT '1.0.0',
    "builderVersion" TEXT,
    "queuePosition" INTEGER,
    "queuedAt" TIMESTAMP(3),
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),
    "initiatedById" TEXT NOT NULL,
    "rollbackDeploymentId" TEXT,
    "reasonNote" TEXT,
    "metadata" JSONB,

    CONSTRAINT "publish_deployments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "deployment_stages" (
    "id" TEXT NOT NULL,
    "publishDeploymentId" TEXT NOT NULL,
    "stage" "DeploymentStageType" NOT NULL,
    "status" "StageStatus" NOT NULL,
    "durationMs" INTEGER,
    "retryCount" INTEGER NOT NULL DEFAULT 0,
    "logs" JSONB,

    CONSTRAINT "deployment_stages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "deployment_audits" (
    "id" TEXT NOT NULL,
    "publishDeploymentId" TEXT NOT NULL,
    "actorId" TEXT,
    "action" "DeploymentAuditAction" NOT NULL,
    "metadata" JSONB,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "deployment_audits_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "deployment_healths" (
    "id" TEXT NOT NULL,
    "publishDeploymentId" TEXT NOT NULL,
    "status" "DeploymentHealthStatus" NOT NULL,
    "score" INTEGER NOT NULL,
    "warnings" JSONB,
    "errors" JSONB,
    "downstreamHealth" JSONB,
    "durationMs" INTEGER,
    "retryCount" INTEGER NOT NULL DEFAULT 0,
    "verifiedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "deployment_healths_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "deployment_metrics" (
    "id" TEXT NOT NULL,
    "publishDeploymentId" TEXT NOT NULL,
    "planningMs" INTEGER,
    "validationMs" INTEGER,
    "executionMs" INTEGER,
    "verificationMs" INTEGER,
    "activationMs" INTEGER,
    "totalDurationMs" INTEGER,

    CONSTRAINT "deployment_metrics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "deployment_locks" (
    "id" TEXT NOT NULL,
    "competitionId" TEXT NOT NULL,
    "versionId" TEXT,
    "userId" TEXT NOT NULL,
    "reason" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "acquiredAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "deployment_locks_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "monitoring_configurations" (
    "id" TEXT NOT NULL,
    "cpuWarning" DOUBLE PRECISION NOT NULL DEFAULT 70.0,
    "cpuCritical" DOUBLE PRECISION NOT NULL DEFAULT 90.0,
    "memoryWarning" DOUBLE PRECISION NOT NULL DEFAULT 80.0,
    "memoryCritical" DOUBLE PRECISION NOT NULL DEFAULT 95.0,
    "alertDeduplicationWindowMs" INTEGER NOT NULL DEFAULT 60000,
    "retentionDays" INTEGER NOT NULL DEFAULT 30,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "updatedBy" TEXT NOT NULL,

    CONSTRAINT "monitoring_configurations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "platform_system_health" (
    "id" TEXT NOT NULL DEFAULT 'global-health',
    "overallScore" INTEGER NOT NULL DEFAULT 100,
    "databaseHealth" "PlatformComponentHealth" NOT NULL,
    "redisHealth" "PlatformComponentHealth" NOT NULL,
    "storageHealth" "PlatformComponentHealth" NOT NULL,
    "cronHealth" "PlatformComponentHealth" NOT NULL,
    "authenticationHealth" "PlatformComponentHealth" NOT NULL,
    "paymentsHealth" "PlatformComponentHealth" NOT NULL,
    "lastCheckedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "platform_system_health_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "worker_health" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "status" "WorkerStatus" NOT NULL,
    "healthScore" INTEGER NOT NULL DEFAULT 100,
    "successRate" DOUBLE PRECISION NOT NULL DEFAULT 100.0,
    "tasksProcessed" INTEGER NOT NULL DEFAULT 0,
    "tasksFailed" INTEGER NOT NULL DEFAULT 0,
    "lastHeartbeatAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "uptimeMs" INTEGER,

    CONSTRAINT "worker_health_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "queue_health" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "status" "QueueStatus" NOT NULL,
    "pendingCount" INTEGER NOT NULL DEFAULT 0,
    "processingCount" INTEGER NOT NULL DEFAULT 0,
    "completedCount" INTEGER NOT NULL DEFAULT 0,
    "failedCount" INTEGER NOT NULL DEFAULT 0,
    "deadLetterCount" INTEGER NOT NULL DEFAULT 0,
    "retriesCount" INTEGER NOT NULL DEFAULT 0,
    "averageProcessingTimeMs" INTEGER,
    "lastUpdatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "queue_health_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "platform_monitoring_snapshots" (
    "id" TEXT NOT NULL,
    "competitionVersionId" TEXT NOT NULL,
    "competitionId" TEXT NOT NULL,
    "snapshotVersion" TEXT NOT NULL,
    "pipelineVersion" TEXT NOT NULL,
    "fingerprint" TEXT NOT NULL,
    "healthScore" INTEGER NOT NULL DEFAULT 100,
    "activeUsers" INTEGER NOT NULL DEFAULT 0,
    "submissionRate" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "completionRate" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "averageDurationMs" INTEGER,
    "runtimeStatus" "PlatformComponentHealth" NOT NULL,
    "deploymentStatus" "PlatformComponentHealth" NOT NULL,
    "leaderboardStatus" "PlatformComponentHealth" NOT NULL,
    "rewardStatus" "PlatformComponentHealth" NOT NULL,
    "certificateStatus" "PlatformComponentHealth" NOT NULL,
    "lifecycleStatus" "PlatformComponentHealth" NOT NULL,
    "processingTimeMs" INTEGER NOT NULL,
    "generatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "platform_monitoring_snapshots_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "platform_incidents" (
    "id" TEXT NOT NULL,
    "competitionId" TEXT,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "severity" "AlertSeverity" NOT NULL,
    "status" "IncidentStatus" NOT NULL,
    "detectedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "resolvedAt" TIMESTAMP(3),
    "closedAt" TIMESTAMP(3),
    "durationMs" INTEGER,
    "ownerId" TEXT,
    "resolutionNotes" TEXT,

    CONSTRAINT "platform_incidents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "platform_alerts" (
    "id" TEXT NOT NULL,
    "competitionId" TEXT,
    "type" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "severity" "AlertSeverity" NOT NULL,
    "occurrenceCount" INTEGER NOT NULL DEFAULT 1,
    "isAcknowledged" BOOLEAN NOT NULL DEFAULT false,
    "isResolved" BOOLEAN NOT NULL DEFAULT false,
    "isSuppressed" BOOLEAN NOT NULL DEFAULT false,
    "firstSeenAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastSeenAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "acknowledgedById" TEXT,

    CONSTRAINT "platform_alerts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "platform_operational_metrics" (
    "id" TEXT NOT NULL,
    "competitionId" TEXT NOT NULL,
    "metricKey" TEXT NOT NULL,
    "metricValue" DOUBLE PRECISION NOT NULL,
    "dimensions" JSONB,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "platform_operational_metrics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "platform_monitoring_audits" (
    "id" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "actorId" TEXT,
    "targetId" TEXT,
    "metadata" JSONB,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "platform_monitoring_audits_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "version_manifests_competitionVersionId_key" ON "version_manifests"("competitionVersionId");

-- CreateIndex
CREATE INDEX "version_build_audits_competitionVersionId_idx" ON "version_build_audits"("competitionVersionId");

-- CreateIndex
CREATE INDEX "publish_deployments_competitionVersionId_idx" ON "publish_deployments"("competitionVersionId");

-- CreateIndex
CREATE INDEX "publish_deployments_status_idx" ON "publish_deployments"("status");

-- CreateIndex
CREATE INDEX "publish_deployments_environment_idx" ON "publish_deployments"("environment");

-- CreateIndex
CREATE UNIQUE INDEX "publish_deployments_competitionVersionId_deploymentNumber_key" ON "publish_deployments"("competitionVersionId", "deploymentNumber");

-- CreateIndex
CREATE INDEX "deployment_stages_publishDeploymentId_idx" ON "deployment_stages"("publishDeploymentId");

-- CreateIndex
CREATE INDEX "deployment_stages_status_idx" ON "deployment_stages"("status");

-- CreateIndex
CREATE INDEX "deployment_audits_publishDeploymentId_idx" ON "deployment_audits"("publishDeploymentId");

-- CreateIndex
CREATE INDEX "deployment_audits_timestamp_idx" ON "deployment_audits"("timestamp");

-- CreateIndex
CREATE UNIQUE INDEX "deployment_healths_publishDeploymentId_key" ON "deployment_healths"("publishDeploymentId");

-- CreateIndex
CREATE INDEX "deployment_healths_status_idx" ON "deployment_healths"("status");

-- CreateIndex
CREATE UNIQUE INDEX "deployment_metrics_publishDeploymentId_key" ON "deployment_metrics"("publishDeploymentId");

-- CreateIndex
CREATE UNIQUE INDEX "deployment_locks_competitionId_key" ON "deployment_locks"("competitionId");

-- CreateIndex
CREATE INDEX "deployment_locks_competitionId_idx" ON "deployment_locks"("competitionId");

-- CreateIndex
CREATE INDEX "deployment_locks_expiresAt_idx" ON "deployment_locks"("expiresAt");

-- CreateIndex
CREATE UNIQUE INDEX "worker_health_name_key" ON "worker_health"("name");

-- CreateIndex
CREATE INDEX "worker_health_status_idx" ON "worker_health"("status");

-- CreateIndex
CREATE UNIQUE INDEX "queue_health_name_key" ON "queue_health"("name");

-- CreateIndex
CREATE INDEX "queue_health_status_idx" ON "queue_health"("status");

-- CreateIndex
CREATE UNIQUE INDEX "platform_monitoring_snapshots_competitionVersionId_key" ON "platform_monitoring_snapshots"("competitionVersionId");

-- CreateIndex
CREATE INDEX "platform_monitoring_snapshots_healthScore_idx" ON "platform_monitoring_snapshots"("healthScore");

-- CreateIndex
CREATE INDEX "platform_monitoring_snapshots_generatedAt_idx" ON "platform_monitoring_snapshots"("generatedAt");

-- CreateIndex
CREATE INDEX "platform_incidents_status_idx" ON "platform_incidents"("status");

-- CreateIndex
CREATE INDEX "platform_incidents_severity_idx" ON "platform_incidents"("severity");

-- CreateIndex
CREATE INDEX "platform_incidents_detectedAt_idx" ON "platform_incidents"("detectedAt");

-- CreateIndex
CREATE INDEX "platform_alerts_isResolved_idx" ON "platform_alerts"("isResolved");

-- CreateIndex
CREATE INDEX "platform_alerts_lastSeenAt_idx" ON "platform_alerts"("lastSeenAt");

-- CreateIndex
CREATE INDEX "platform_alerts_severity_idx" ON "platform_alerts"("severity");

-- CreateIndex
CREATE INDEX "platform_operational_metrics_competitionId_metricKey_idx" ON "platform_operational_metrics"("competitionId", "metricKey");

-- CreateIndex
CREATE INDEX "platform_operational_metrics_timestamp_idx" ON "platform_operational_metrics"("timestamp");

-- CreateIndex
CREATE INDEX "platform_monitoring_audits_timestamp_idx" ON "platform_monitoring_audits"("timestamp");

-- CreateIndex
CREATE UNIQUE INDEX "competition_versions_competitionId_version_key" ON "competition_versions"("competitionId", "version");

-- AddForeignKey
ALTER TABLE "version_manifests" ADD CONSTRAINT "version_manifests_competitionVersionId_fkey" FOREIGN KEY ("competitionVersionId") REFERENCES "competition_versions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "version_build_audits" ADD CONSTRAINT "version_build_audits_competitionVersionId_fkey" FOREIGN KEY ("competitionVersionId") REFERENCES "competition_versions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "version_build_audits" ADD CONSTRAINT "version_build_audits_builderId_fkey" FOREIGN KEY ("builderId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "publish_deployments" ADD CONSTRAINT "publish_deployments_competitionVersionId_fkey" FOREIGN KEY ("competitionVersionId") REFERENCES "competition_versions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "publish_deployments" ADD CONSTRAINT "publish_deployments_initiatedById_fkey" FOREIGN KEY ("initiatedById") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "publish_deployments" ADD CONSTRAINT "publish_deployments_manifestId_fkey" FOREIGN KEY ("manifestId") REFERENCES "version_manifests"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "publish_deployments" ADD CONSTRAINT "publish_deployments_rollbackDeploymentId_fkey" FOREIGN KEY ("rollbackDeploymentId") REFERENCES "publish_deployments"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "deployment_stages" ADD CONSTRAINT "deployment_stages_publishDeploymentId_fkey" FOREIGN KEY ("publishDeploymentId") REFERENCES "publish_deployments"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "deployment_audits" ADD CONSTRAINT "deployment_audits_publishDeploymentId_fkey" FOREIGN KEY ("publishDeploymentId") REFERENCES "publish_deployments"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "deployment_audits" ADD CONSTRAINT "deployment_audits_actorId_fkey" FOREIGN KEY ("actorId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "deployment_healths" ADD CONSTRAINT "deployment_healths_publishDeploymentId_fkey" FOREIGN KEY ("publishDeploymentId") REFERENCES "publish_deployments"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "deployment_metrics" ADD CONSTRAINT "deployment_metrics_publishDeploymentId_fkey" FOREIGN KEY ("publishDeploymentId") REFERENCES "publish_deployments"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "deployment_locks" ADD CONSTRAINT "deployment_locks_competitionId_fkey" FOREIGN KEY ("competitionId") REFERENCES "competitions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "deployment_locks" ADD CONSTRAINT "deployment_locks_versionId_fkey" FOREIGN KEY ("versionId") REFERENCES "competition_versions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "deployment_locks" ADD CONSTRAINT "deployment_locks_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "platform_monitoring_snapshots" ADD CONSTRAINT "platform_monitoring_snapshots_competitionVersionId_fkey" FOREIGN KEY ("competitionVersionId") REFERENCES "competition_versions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "platform_monitoring_snapshots" ADD CONSTRAINT "platform_monitoring_snapshots_competitionId_fkey" FOREIGN KEY ("competitionId") REFERENCES "competitions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "platform_incidents" ADD CONSTRAINT "platform_incidents_competitionId_fkey" FOREIGN KEY ("competitionId") REFERENCES "competitions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "platform_incidents" ADD CONSTRAINT "platform_incidents_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "platform_alerts" ADD CONSTRAINT "platform_alerts_competitionId_fkey" FOREIGN KEY ("competitionId") REFERENCES "competitions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "platform_alerts" ADD CONSTRAINT "platform_alerts_acknowledgedById_fkey" FOREIGN KEY ("acknowledgedById") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "platform_operational_metrics" ADD CONSTRAINT "platform_operational_metrics_competitionId_fkey" FOREIGN KEY ("competitionId") REFERENCES "competitions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "platform_monitoring_audits" ADD CONSTRAINT "platform_monitoring_audits_actorId_fkey" FOREIGN KEY ("actorId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

